/*--------------------ROOT--------------------*/
:root{
    --main-text-blue-color:  #347cdb;
    --main-text-black-color: #212121;
    --main-text-gray-color:  #757575;
    --main-text-white-color:  #ffffff;
   
    --master-button-color: #347cdb;
    --slave-button-color: #757575;
    
}

/*--------------------HEADER--------------------*/
.container-header{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;

}
/*Logo*/
.header-logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #2196F3;
     
}

.header-logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #212121;
  
}
/*Navigation*/

.header-nav-list{
    display: flex;
 margin-left: 93px;
}


.header-nav-item + .header-nav-item {
margin-left: 30px;
}

.header-nav-link-active {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
  
}

.header-nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    color: #212121;
  }
  
/*Contact*/
.header-contact-list{
    display: flex;
    margin-left: auto;
}

.header-contact-item + .header-contact-item{
    margin-left: 30px;
}

.header-contact-link-tel{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;

}

.header-contact-link-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}


.header-contact-link-mail:hover {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-blue-color);
}

/*----------------->BODY<----------------------*/
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: "Roboto", "sans-serif";

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid #2196F3;
    margin: 0 auto;
}

/*Disable list for "ul"*/
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img{
    display: block;
}

/*Button.*/
.button{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
width: 200px;
height: 50px;
display: block;
margin: 0 auto;

}

/*hero*/
.hero-main{
width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
    margin: 0 auto;

}

.hero-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center  ;

    
}

/*Service*/
.services{
    padding-bottom: 94px;
}

.sevices-list{
    display: flex;
}

.services-item{
   width: 270px;
}

.services-item + .services-item{
    margin-left: 40px;
}
.service-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding-top: 10px;

 
}

.services-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

/*What we do*/
.what-we-do{
    padding-top: 94px;
    padding-bottom: 94px;
}

.what-we-do-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;

}

.what-we-do-list {
    display: flex;
}

.what-we-do-item + .what-we-do-item{
    margin-left: 27px;
}

/*our-team*/

.our-team{
    width: 1200px;
    margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
    background: #F5F4FA;

}
.our-team-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
  


}

.our-team-list {
    display: flex;
    }

.our-team-item +.our-team-item{
    margin-left: 30px;
}
.our-team-text-h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18; 
    letter-spacing: 0.03em;
    color: #212121;

    text-align: center;
 }


.our-team-text-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-top: 10px;
}

.our-team-item-cont {
    padding-top: 94px;
    padding-top: 10px;
    padding-bottom: 30px;
    outline: 2px solid #2196F3;
}


/*----------------->FOOTER<----------------------*/
.footer-logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;

 
 }

.footer-logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #ffffff;
}


.footer-text-address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;

   
}

.footer-text-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}

.footer-text-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
   
}

.container-foter{
padding-top: 60px;
padding-bottom: 60px;
    background: #2F303A;
}

.container-nav-foter{
    padding-top: 20px;
      
}
