/*--------------------ROOT--------------------*/
:root{
    --main-text-blue-color:  #347cdb;
    --main-text-black-color: #212121;
    --main-text-gray-color:  #757575;
    --main-text-white-color:  #ffffff;
   
    --master-button-color: #347cdb;
    --slave-button-color: #757575;
    
}

/*--------------------HEADER--------------------*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid #2196F3;
}



.header-container {
    width: 1170px;
    height: 50px;
    display: flex;
    align-items:center;
    outline: 2px solid #757575;

}

/*Header LoGo*/

.header-logo {
    margin-left: 80px;
}

.header-logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #2196F3;
}

.header-logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
    color: #212121;
}


/*Header Navigation*/
.header-nav-list {
    margin-left: 60px;
    display: flex;
}
.header-nav-item + .header-nav-item{
    margin-left: 40px;
.}


.header-nav-link-active {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
}


.header-nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    color: #212121;

}


/*Header Contact*/
.header-contact-list{
    display: flex;
    margin-left: 300px;
}

.header-contact-item + .header-contact-item{
    margin-left: 40px;
}

.header-contact-link-tel{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;

}

.header-contact-link-mail{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    
}


.header-contact-link-mail:hover {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-blue-color);
}

/*----------------->BODY<----------------------*/
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
    list-style: none; /*Disable list for "ul"*/
}

button {
	cursor: pointer;
}


body {
    font-family: "Roboto", "sans-serif";

}


/**Hero**/
.hero-container {
    width: 1170px;
    height: 600px;
    padding-left: 15px;
    padding-right: 15px;
  
    outline: 2px solid #2196F3;
}

/*Button.*/
.button{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: absolute;
width: 136px;
height: 30px;
left: calc(50% - 136px/2 + 15px);
top: 436px;
margin-bottom: 60px;
}


.hero-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 210px;
    color: #212121;
    padding-top: 200px;
    padding-bottom: 280px;

}

/*Service
.service-container {
    width: 1170px;
    height: 250px;
    outline: 2px solid #2196F3; 
}*/
.sevices-list{
    display: flex;
}

.services-item{
    margin-top: 140px;
    margin-left: 15px;
    margin-right: 15px;
}

.services-item + .services-item{
    margin-left: 40px;
}

.service-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    text-align: center;
}

.services-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

/*What we do
*/

 
.what-we-do-list {
   display: flex;
    margin: 50px;
    margin-left: -15px;
    flex-wrap: wrap;
    
}

.what-we-do-item{
width: calc(99% / 3 - 30px);
margin-left: 15px;
margin-right: 15px;
margin-bottom: 50px;
}


.what-we-do-item + .what-we-do-item{
    margin-left: 20px;
}

.what-we-do-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    padding-left: 412px;
    padding-top: 89px;
}

/*our-team*/
.our-team-container {
    outline: 2px solid #2196F3; 
    margin-left: 15px;
}

.our-team-title {
    padding-top: 90px;
    padding-left: 460px;
}


.our-team-list{

    display: flex;
}
.our-team-item + .our-team-item{
    margin-right: 25px;
}
.our-team-item{
    margin-bottom: 20px;
}

.our-team-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 30px;
  
}

.our-team-text-h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18; 
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 8px;
    text-align: center;
    padding-top: 10px;
}


.our-team-text-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;

    padding-top: 10px;
    
}


/*----------------->FOOTER<----------------------*/
.footer-logo-container {
    padding-top: 60px;
    margin-left: 100px;
}

.footer-logo-web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-logo-studio {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #ffffff;
}

/*address*/
.footer-address-list {
    margin-top: 20px;
    margin-left: 100px;
}

.footer-text-address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-text-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-text-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-container{
    width: 1200px;
    height: 252px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid #2196F3;
    background: #2F303A;
}